.text-color, html {
    color: hsl(207, 100%, 15%);
}

.text-emphasis-color, b {
    color: hsl(207, 100%, 25%);
}

html {
    font-family: Merriweather, serif;
}

p {
    font-size: 1.2rem;
}

a.brand-logo {
    font-size: 3rem;
}

nav ul a {
    font-size: 1.5rem;
}

a.btn {
    font-family: Open-Sans, sans-serif;
    font-size: 1rem;
}